/*==========FONTS==========*/
@font-face { font-family: 'TT Rounds Neue Trial Black'; src: url('fonts/TT\ Rounds\ Neue\ Trial\ Black.ttf'); } /*bold*/
@font-face { font-family: 'TT Rounds Neue Trial Medium'; src: url('fonts/TT\ Rounds\ Neue\ Trial\ Medium.ttf'); } /*semi-bold*/
@font-face { font-family: 'retro-land-mayhem'; src: url('fonts/retro-land-mayhem.ttf'); } 

html{ cursor: url('img/cursor.png'), auto; }
* { box-sizing: border-box; }
body {
    margin: 0; 
    background-color: #FD87B8;
    font-family: 'TT Rounds Neue Trial Medium';
    section {
        margin-bottom: -1.375rem;
        .section-padding {padding: 4.25rem 8.125rem;}
    }
}
h1 {
    font-family: 'TT Rounds Neue Trial Black';
    font-size: 2rem;
    text-align: center;
}

/*==========HEADER*/
#header-img  { width: 100%; } /*GAME POSTER*/
header #header-spacer {
    margin: -1.25rem 0 -0.313rem;
    img {width: 100%;};
}
/*=====NAVBAR*/
#nav-logo img {
    cursor: url('img/cursor-hover.png'), pointer;
    height: 6.25rem; 
} /*GAME LOGO*/
nav {
    font-family: 'retro-land-mayhem';
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    padding: 0 1.25rem;
    z-index: 10; /*put NAV on top of all content*/
    background-color: black;
    
    /*NAV BUTTONS*/
    .right-links { 
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center; 
        position: relative;
    }
    .right-links a {
        cursor: url('img/cursor-hover.png'), pointer;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width: 12rem;
        height: 4rem;
        line-height: 2.7rem;
        color: white;
        text-shadow: 0.313rem 0.125rem #000d49;
        background-image: url('img/home/button.png');
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .right-links a:hover {
        background-image: url('img/home/button\ current.png');
        background-repeat: no-repeat;
        background-size: 100%;
        color: #f7d65a;
        text-shadow: 0.313rem 0.125rem #000d49;
    }
    .right-links .current-page {
        cursor: url('img/cursor.png'), auto;
        background-image: url('img/home/button\ current.png');
        background-repeat: no-repeat;
        background-size: 100%;
        color: #f7d65a;
        text-shadow: 0.313rem 0.125rem #000d49;
    } /*different button and default cursor for current page*/

    .gameplay-dropdown {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: black;
        a { display: block; }
    } /*hidden dropdown*/
    #gameplay:hover + .gameplay-dropdown, .right-links .gameplay-dropdown:hover { display: block; } /*display dropdown on hover*/
    /*music button*/
    button {
        cursor: url('img/cursor-hover.png'), pointer;
        background-color: transparent;
        border: none;
        filter: brightness(80%);
    }
    button:hover {
        filter: brightness(100%);
    }
}

/*=========DESCRIPTION SECTION*/
.description {
    height: 100%;
    background: 
    url('img/home/spacer1.2b.png') no-repeat top/contain, 
    url('img/home/spacer1.2t.png') no-repeat bottom/contain,
    url('img/bg/stripes-0.png');
    img { height: 18.75rem; }
    .section-flex { 
        display: flex;
        align-items: center;
    }
}
.video {
    width: 100%;
    height: 100%;
    text-align: right;
    background-image: url('img/home/tv.png');
    background-repeat: no-repeat;
    background-size: 66%;
    background-position: right;
    margin-top: -4.375rem;
    video {
        cursor: url('img/cursor-hover.png'), pointer;
        width: 50%;
        margin: 9.375rem 6.438rem 3.75rem;
    }
} /*GAME TRAILER*/

/*==========SECTION PAGES BUTTONS*/
.content-nav-flex {
    background: 
        url('img/home/spacer1.2b.png') no-repeat top/contain, 
        url('img/bg/checkered-1.1.png');
    .section-padding {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    a {
        cursor: url('img/cursor-hover.png'), pointer;
        font-family: 'retro-land-mayhem';
        font-size: 1.5rem;
        color: white;
        text-decoration: none;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        align-content: flex-end;
        padding-bottom: 2rem;
        filter: brightness(50%);
    }
    .con-buttons {
        border: 0.5rem solid #7C2779;
        border-radius: 0.625rem;
        height: 25rem;
        width: 18.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #5F255E;
        background-size: contain;
    }
    .con-buttons:hover {
        background-image: url('img/bg/candybones-2.png');
        background-size: contain;
        border-color: #f7d65a;
        animation: infinite-diagonal 10s linear infinite;
        a {
            font-family: 'retro-land-mayhem';
            color: #f7d65a;
            filter: brightness(100%);
        }
    }
    #a-con-rooms { background-image: url('img/pages-btn/rooms.png'); }
    #a-con-characters { background-image: url('img/pages-btn/characters.png'); }
    #a-con-items { background-image: url('pages/p-img/flashlights/4\ Atomic\ Fenix\ MX.png'); }
    #a-con-about { background-image: url('img/pages-btn/about.png'); }
} 

/*==========FOOTER*/
footer {
    width: 100%;
    padding: 4.5rem 3rem 0.5rem;
    background-image: url('img/footer/footer.png');
    background-repeat: repeat-x;
    background-size: contain;
    color: white;
}
.footer-flex {
    width: 100%;
    display: flex;
    align-items: center;
    .tako-studio {
        width: 100%;
        display: flex;
        justify-content: center;
    } /*parent container for Tako Boy Studios logo + socials*/
    .tako-studios-logo a {
        cursor: url('img/cursor-hover.png'), pointer;
        width: 15rem;
        display: block;
        background-image: url('img/footer/logo tako boy studios.png');
        background-size: contain;
        background-repeat: no-repeat;
        transition: background-image 0.3s ease-in-out;
    } /*Tako Boy Studios logo container*/
    /* change the bg image on hover */
    #tako-studios {
        width: 15rem;
        opacity: 0;
    } /* hidden image for fade-in transition*/
    .tako-studios-logo a:hover {
        cursor: url('img/cursor-hover.png'), pointer;
        background-image: url('img/footer/logo tako boy studios hover.png');
        opacity: 1;
    }

    .socials {
        align-self: flex-end;
        img {
            cursor: url('img/cursor-hover.png'), pointer;
            display: block; 
            height: 2.5rem;
            width: auto;
            margin: 0.3rem 1rem;
        }
        #twitter:hover { content: url('img/footer/icon\ x\ hover.png'); }
        #discord:hover { content: url('img/footer/icon\ discord\ hover.png'); }
    }
    .footer-gif {
        text-align: center;
        #gif { width: 19.5rem; }
    }
    .playstore {
        display: block; 
        margin-top: 1.25rem;
    }
    #appstore { 
        cursor: url('img/cursor-hover.png'), pointer;
        width: 12.5rem;
    }
    #googleplay {
        cursor: url('img/cursor-hover.png'), pointer; 
        width: 12.7rem; 
        margin-top: -1.25rem;
    }
    .footer-p {
        text-align: left;
        margin-top: -2.25rem;
    }
}

/*SCROLLBAR*/
::-webkit-scrollbar{ 
    width: 0.7rem;
    background: linear-gradient(#7544ea, #583dc7);
}
::-webkit-scrollbar-track{
    background: linear-gradient(#7544ea, #583dc7);
    border-radius: 1.25rem;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#fe85b8, #ad4de5);
    border-radius: 1.25rem;
}
::-webkit-scrollbar-thumb:hover{
    border: 0.125rem solid #FDB1D1;
}

/*==========ANIMATIONS*/
@keyframes infinite-diagonal {
    from { background-position: 0 0; }
    to { background-position: 31.25rem 31.25rem; }
} /*bg infinitely moves diagonally*/