/*==========FONTS==========*/
@font-face { font-family: 'TT Rounds Neue Trial Black'; src: url('../fonts/TT\ Rounds\ Neue\ Trial\ Black.ttf'); } /*bold*/
@font-face { font-family: 'TT Rounds Neue Trial Medium'; src: url('../fonts/TT\ Rounds\ Neue\ Trial\ Medium.ttf'); } /*semi-bold*/
@font-face { font-family: 'TT Rounds Neue Trial Regular'; src: url('../fonts/TT\ Rounds\ Neue\ Trial\ Regular.ttf'); } /*regular*/
@font-face { font-family: 'retro-land-mayhem'; src: url('../fonts/retro-land-mayhem.ttf'); } 

h1 {
    font-family: 'TT Rounds Neue Trial Black';
    text-align: center;
}

section {
    margin-top: 7.5rem;
    /*border: 3px dashed white; /*DELETE WHEN DONE*/
}

.flex { display: flex; }

/*=======CHARACTERS=======*/
.char-focus {
    width: 100%;
    background-image: url('p-img/npc/frame-2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 2px dashed white; /*DELETE WHEN DONE*/
}
.char-table table {
    border: 3px dashed white; /*DELETE WHEN DONE*/
    text-align: center;
    width: 650px;
    margin: 0 auto;
    img {
        width: 12.5rem;
        display: block;
        margin: 0 auto;
        /*border: 2px dashed white; /*DELETE WHEN DONE*/
    }
    td {
        background-image: url('p-img/npc/frame-1.2.png');
        background-repeat: no-repeat;
        background-position: center;
        height: 14.375rem;
    }
    /*tr, td {border: 3px dashed white; }*/
}

/*=======ROOMS=======*/
.room-name {
    display: block;
    height: 8.75rem;
}

/*=======ITEMS=======*/
/*===Flashlights===*/
.light-focus {
    width: 100%;
    background-image: url('p-img/npc/frame-2.png');
    background-repeat: no-repeat;
    background-size: 450px;
    border: 2px dashed white; /*DELETE WHEN DONE*/
}
.light-table table {
    /*border: 3px dashed white; /*DELETE WHEN DONE*/
    text-align: center;
    width: 650px;
    margin: 0 auto;
    img {
        width: 12.5rem;
        display: block;
        margin: auto;
        /*border: 2px dashed white; /*DELETE WHEN DONE*/
    }
    td {
        background-image: url('p-img/flashlights/frame-3.png');
        background-repeat: no-repeat;
        background-position: center;
        height: 14.375rem;
        
        span { font-size: 0.9rem; }
        /*border: 2px dashed white; /*DELETE WHEN DONE*/
    }
}