/*==========CHARACTERS*/
.info-panel { display: none; } /*hidden Characters & Flashlights info*/
.characters {
    background: 
        url('../img/home/spacer2.2t.png') no-repeat bottom/contain,
        url('../img/bg/skulls-0.png');
}
.char-focus-panel {
    position: relative;
    width: 100%;
    background: url('p-img/npc/frame-2.png') no-repeat center/contain;
    .char-info { 
        position: absolute;
        text-align: center;
        padding: 0 1.563rem;
        display: none; /*hide all character info initially*/
        img { width: 18.75rem;}
        p { margin-top: -2.5rem; }
    } /*info on hover*/
}
.char-table table {
    text-align: center;
    width: 40.625rem;
    margin: 0 auto;
    img {
        width: 12.5rem;
        display: block;
        margin: 0 auto;
    }
    td {
        background-image: url('p-img/npc/frame-1.2.png');
        background-repeat: no-repeat;
        background-position: center;
        height: 14.375rem;
    }
}
.enemy-table table {
    width: 34.375rem;
    text-align: center;
    margin: 0 auto;
    img {
        width: 12.5rem;
        display: block;
        margin: 0 auto;
    }
    td {
        background: url('p-img/npc/frame-1.2.png');
        background-repeat: no-repeat;
        background-position: center;
        height: 14.375rem;
    }
    #empty { all: unset; } /*reset format of that one cell*/
}

/*==========ROOMS*/
.rooms {
    text-align: center;
    background: 
        url('../img/home/spacer2.2b.png') no-repeat top/contain, 
        url('../img/home/spacer2.2t.png') no-repeat bottom/contain,
        url('p-img/rooms/mansion.png') no-repeat bottom/contain,
        url('../img/bg/nightsky.png');
    color: white;
} /*parent container of ROOMS SECTION*/
.room-carousel  {
    display: flex;
    width: 100%;
    div {
        width: 100%;
        align-self: center;
    }
    button { 
        cursor: pointer;
        background-color: transparent;
        border: none;
    }
    .prev:hover { content: url('p-img/rooms/arrowl-3.png'); }
    .next:hover { content: url('p-img/rooms/arrowr-3.png'); }
    .prev:active { content: url('p-img/rooms/arrowl-2.png'); }
    .next:active { content: url('p-img/rooms/arrowr-2.png'); }
} /*container of room container & buttons*/
.rooms-container {
    margin-bottom: -3.125rem;
    .room .room-name {
        display: block;
        height: 8.75rem;
        margin: 0 auto;
    }
    .room .room-img {
        height: 33.75rem;
    } /*indiv container of each room*/
} /*container of individual rooms*/

/*==========ITEMS*/
.items {
    background: 
        url('../img/home/spacer2.2b.png') no-repeat top/contain, 
        url('../img/home/spacer2.2t.png') no-repeat bottom/contain,
        url('../img/bg/skulls-1.png');
    padding-bottom: 3.125rem;
    .white-text { color: white; }
    .pink-text { color: #FD87B8; }
}
/*===Flashlights*/
.light-focus-panel {
    position: relative;
    width: 100%;
    background-image: url('p-img/flashlights/frame-4.png');
    background-repeat: no-repeat;
    background-size: 100%;
    .light-info {
        position: absolute;
        text-align: center;
        padding: 0 1.563rem;
        img { width: 18.75rem;}
        p { margin-top: -2.5rem; }
    } /*info on hover*/
}
.light-table table {
    text-align: center;
    width: 40.625rem;
    margin: 0 auto;
    img {
        width: 12.5rem;
        display: block;
        margin: auto;
    }
    td {
        background-image: url('p-img/flashlights/frame-3.png');
        background-repeat: no-repeat;
        background-position: center;
        height: 14.375rem;
        span { font-size: 0.9rem; }
    }
}

/*===CHARMS & TREASURES*/
.charms p, .treasures p { padding: 0 8.125rem; }
.charms-marquee, .treasures-marquee {
    white-space: nowrap;
    overflow: hidden;
    background-color: #7544ea;
    background-size: 18.75rem;
}
.charms-icons, .treasures-icons {
    display: inline-block;
    img { margin: 1.875rem; }
}
.charms-icons { animation: marquee1 30s linear infinite; }
.charms-marquee:hover .charms-icons, .treasures-marquee:hover .treasures-icons { animation-play-state: paused; } /*stop marquee on hover*/

.treasures-icons { animation: marquee2 30s linear infinite; }

/*==========SCREENSHOTS*/
.screenshots {
    background: 
        url('../img/home/spacer2.2b.png') no-repeat top/contain,
        linear-gradient(#8a26af, #080042);
    color: #FD87B8;
}
.ss-scroll-container {
    background: url('../img/bg/candybones-2.png');
    overflow: auto;
    white-space: nowrap;
    padding: 3.125rem;
    animation: infinite-diagonal 100s linear infinite;
}
.ss-scroll-container img { height: 31.25rem; }

/*==========ANIMATIONS*/
@keyframes marquee1 {
    from { transform: translateX(0) }
    to { transform: translateX(-100%) }
} /*to the left*/
@keyframes marquee2 {
    from { transform: translateX(-100%) }
    to { transform: translateX(0) }
} /*to the right*/
@keyframes infinite-diagonal {
    from { background-position: 0 0; }
    to { background-position: -301.25rem -301.25rem; }
} /*bg infinitely moves diagonally*/